header {
}
.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1%;
 background: rgb(193, 192, 216);
 /* background: radial-gradient(
  circle,
  rgba(255, 169, 216, 1) 53%,
  rgba(215, 164, 198, 1) 100%
 ); */
 height: 9vh;
}
.logoDiv {
 width: 82%;
}
ul {
 display: flex;
 align-items: center;
 list-style-type: none;
 justify-content: center;
}
ul li {
 padding: 8%;
 &:last-child {
  margin-right: 50%;
 }
}
nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 width: 18%;
 &:last-child {
  margin-left: 15%;
  margin-right: 2%;
 }
}
.loginButton {
 background: rgb(166, 144, 185);
 border: none;
 color: white;
 padding: 8px 15px;
 /* text-align: center; */
 text-decoration: none;
 border-radius: 1px;
 display: inline-block;
 font-size: 20px;
 /* margin: 4px 2px; */
 -webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
 &:hover {
  box-shadow: 5px 12px 8px 8px rgba(107, 81, 119, 0.24),
   0px 6px 8px 0px rgba(147, 2, 135, 0.237);
 }
 border-radius: 8px;
}

.ButtonContainer {
 width: fit-content;
}
@media (max-width: 720px) {
}
/* @media (prefers-reduced-motion: no-preference) {
 .App-logo {
  animation: App-logo-spin infinite 20s linear;
 }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
