.BlogCards {
 display: grid;
 grid-template-columns: 1fr 50%;
 gap: 10px;
 width: auto;
 margin: 2%;
 justify-content: center;

 height: 20%;
}
.blogList {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 18px;
 align-items: center;
 border: 1px solid lightgray;
 padding: 0 30%;
 overflow-y: scroll;
}

.blogDetails {
 width: 90%;
 text-align: left;
}
.blogImage {
 width: 200px;
 padding: 2%;
}

.heading {
 text-align: center;
}
